
# Global Environment Configuration
# ------------------------------

# Environment prefix (dev, staging, prod)
ENVIRONMENT_PREFIX="dev"

# Project prefix - Used in naming resources
PROJECT_PREFIX="meruinnov"

# Azure Resource Group name
PROJECT_RESOURCE_GROUP="Must"

# Azure deployment location/region
PROJECT_LOCATION="North Europe"

# Project Azure Subscription ID
PROJECT_SUBSCRIPTION_ID="2b2fe845-7617-4fe4-a6d9-f769a3cf9824"

# Log folder for deployment logs
LOG_FOLDER="./logs"